.btn{
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  max-width: 100%;
  border: 6px solid white;
  transition: background .4s;
  background: transparent;
  outline: none;
  font: $bold 3.5rem $font-condensed;
  color: #fff;
  padding: 30px 115px;
  border-radius: 121px;
  @media (max-width: $breakpoint-small){
    font-size: 2.24rem;
    padding: 20px 78px;
    border-width: 5px;
  }
  @media (max-width: $breakpoint-mobile){
    font-size: 1.8rem;
    padding: 13px 45px;
  }
  span{
    color: #fff;
    line-height: 0.8em;
    display: inline-block;
    &:after{
      content: '';
      display: inline-block;
      margin-left: 26px;
      height: 23px;
      width: 18px;
      background: url(../img/white_arrow.png) center no-repeat;
      background-size: contain;
      @media (max-width: $breakpoint-small){
        height: 16px;
        margin-left: 25px;
      }
      @media (max-width: $breakpoint-mobile){
        height: 13px;
        width: 9px;
        margin-left: 15px;
      }
    }
  }
  &-white{
    background: #fff;
    padding: 20px 98px;
    line-height: 0em;
    z-index: 10;
    @media (max-width: $breakpoint-small){
      padding: 15px 60px;
      border-width: 3px;
      border-color: $blue;
    }
    span{
      color: $blue;
      font-size: 2rem;
      @media (max-width: $breakpoint-small){
        font-size: 1.28rem;
      }
      &:after{
        margin-left: 15px;
        width: 9px;
        height: 17px;
        background-image: url(../img/blue_arrow.png);
        @media (max-width: $breakpoint-small){
          height: 10px;
        }
      }
    }
  }
  &-gray{
    background: #fff;
    padding: 15px 60px;
    z-index: 10;
    border-color: #314b66;
    border-width: 2px;
    line-height: 0;
    @media (max-width: $breakpoint-small){
      padding: 15px 60px;
    }
    span{
      color: $blue;
      font-size: 1.6rem;
      @media (max-width: $breakpoint-small){
        font-size: 1.28rem;
      }
      &:after{
        margin-left: 15px;
        width: 7px;
        height: 12px;
        background-image: url(../img/blue_arrow.png);
        @media (max-width: $breakpoint-small){
          height: 10px;
        }
      }
    }
  }
  &-balloon{
    &:after{
      pointer-events: none;
      content: '';
      position: absolute;
      bottom: 20%;
      left: -7.1%;
      display: block;
      width: 24%;
      height: 189%;
      background: url(../img/balloon.png) no-repeat center;
      background-size: contain;
      z-index: -1;
    }
  }
}

.big-btn-container{
  margin: 155px 0;
  text-align: center;
  @media (max-width: $breakpoint-small){
    margin: 100px 0;
  }
  @media (max-width: $breakpoint-mobile){
    margin: 70px 0;
  }
}