.map{
  display: flex;
  flex-wrap: wrap;
  &>*{
    width: 50%;
    @media (max-width: $breakpoint-tablet){
      width: 100%;
    }
  }
  .address .title{
    font-size: 2.9rem;
    margin-bottom: 25px;
  }
  .separation-line{
    margin-bottom: 30px;
  }
  iframe{
    width: 100%;
    @media (max-width: $breakpoint-tablet){
      margin-top: 35px;
    }
  }
}
.text-block.address-container{
  .content{
    max-height: none;
    padding-bottom: 38px;
  }
  .separation-line{
    margin-bottom: 38px;
  }
}