.pack{
  &-container{
    width: 32.67%;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (max-width: $breakpoint-mobile){
      width: 100%;
    }
    &.letter-bg{
      &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        font: $bold 37rem $font-slab;
        color: #fff;
        opacity: .5;
        line-height: 0.65em;
        text-transform: uppercase;
        z-index: auto;
        @media (max-width: $breakpoint-small){
          font-size: 23.68rem;
        }
        @media (max-width: $breakpoint-mobile){
          font-size: 13.024rem;
          color: #EEF1F2;
          opacity: 1;
          right: 15%;
        }
      }
      &-h:before{
        content: 'h';
      }
      &-m:before{
        content: 'm';
      }
      &-i:before{
        content: 'i';
      }
      &-b:before{
        content: 'b';
      }
      &-a:before{
        content: 'a';
      }
    }
  }
  &-img{
    text-align: center;
    @media (max-width: $breakpoint-mobile){
      text-align: left;
      width: 100%;
    }
    img{
      max-width: 100%;
    }
    .photo{
      position: relative;
      z-index: 2;
      width: 52%;
      @media (max-width: $breakpoint-mobile){
        margin-bottom: 50px;
      }
    }
    .cloud-mini{
      z-index: 1;
      position: relative;
      margin: -20% -20px -13%;
      width: 90%;
      @media (max-width: $breakpoint-mobile){
        display: none;
      }
    }
  }
}

.packs-info{
  .row{
    margin-bottom: 20px;
    @media (max-width: $breakpoint-mobile){
      margin-bottom: 10px;
    }
    &:nth-child(even){
      flex-direction: row-reverse;
      .letter-bg:before{
        left: 0;
        right: auto;
        @media (max-width: $breakpoint-mobile){
          left: auto;
          right: 15%;
        }
      }
      .white-block{
        padding: 100px 8%;
        @media (max-width: $breakpoint-small){
          padding: 64px 8%;
        }
        @media (max-width: $breakpoint-mobile){
          padding: 64px 10px;
        }
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}