.product{
  margin-bottom: 20px;
  .cont-fix{
    position: relative;
  }
  &-photo{
    width: 25%;
    min-width: 250px;
    text-align: center;
    position: relative;
    @media (max-width: $breakpoint-mobile){
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      margin-top: -72px;
    }
    .prod_cloud{
      position: absolute;
      bottom: -33%;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      width: 192%;
      max-width: none;
    }
  }
  .run-string{
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: -1;
    img{
      width: 300px;
      margin-right: 50px;
    }
  }
  &-name-bg{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: calc( 100% - 40px );
    @media (max-width: $breakpoint-tablet){
      width: calc( 100% - 20px );
      left: 10px;
    }
  }
  &-info{
    background: #FFFFFF url(../img/product_img/info_bg.png) 60% 23% no-repeat;
    background-size: 50%;
    position: relative;
    z-index: 99;
    padding: 85px 8.2% 170px;
    
    @media (max-width: $breakpoint-small){
      padding: 50px 8.2% 120px;
    }
    @media (max-width: $breakpoint-mobile){
      padding: 20px 20px 20px;
    }
    h1{
      text-transform: none;
      margin-bottom: 125px;
      @media (max-width: $breakpoint-small){
        margin-bottom: 60px;
      }
      @media (max-width: $breakpoint-mobile){
        margin-bottom: 30px;
      }
    }
    h2{
      margin-bottom: 52px;
      @media (max-width: $breakpoint-tablet){
        margin-bottom: 25px;
      }
    }
  }
  &-text{
    display: flex;
    flex-wrap: wrap;
    .description{
      position: relative;
      width: 50%;
      margin-right: 8%;
      display: flex;
      flex-direction: column;
      @media (max-width: $breakpoint-tablet){
        width: 100%;
        margin-right: 0;
        margin-bottom: 100px;
      }
    }
    .elem-list-container{
      width: 42%;
      @media (max-width: $breakpoint-tablet){
        width: 100%;
      }
    }
    .separation-line{
      margin-top: 0;
    }
    .hidden-text{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      &-container{
        position: relative;
        flex-grow: 1;
        overflow: hidden;
        @media (max-width: $breakpoint-tablet){
          height: 220px;
        }
        &.open{
          height: auto;
          .hidden-text{
            position: relative;
          }
        }
      }
    }
    .text{
      margin-bottom: 40px;
      line-height: 1.8em;
      @media (max-width: $breakpoint-tablet){
        margin-bottom: 20px;
      }
    }
    ul.marker-list{
      li{
        width: 100%;
      }
    }
  }
}

.more{
  font: $bold 2.5rem $font-slab;
  position: absolute;
  bottom: -20px;
  left: 0;
  transform: translateY(100%);
  cursor: pointer;
  white-space: nowrap;
  @media (max-width: $breakpoint-tablet){
    font-size: 1.6rem;
  }
  &.open{
    img{
      transform: rotateX(180deg);
    }
  }
  img{
    margin-left: 7px;
    width: 11px;
    vertical-align: middle;
  }
}