.text,
.text-block p{
  font: $regular 1.8rem $font-base;
  line-height: 1.6em;
  strong{
    font-weight: $bold;
  }
  @media (max-width: $breakpoint-small){
    font-size: 1.28rem;
  }
  @media (max-width: $breakpoint-mobile){
    font-size: 1.2rem;
  }
}