.white-block{
  background: #fff;
  padding: 100px 3.47%;
  position: relative;
  width: 67.33%;
  @media (max-width: $breakpoint-small){
    padding: 64px 3.47%;
  }
  &-big{
    width: 75%;
    padding: 83px 15% 83px 8.47%;
    @media (max-width: $breakpoint-small){
      padding: 53px 15% 53px 8.47%;
    }
    .title{
      text-transform: uppercase;
      &-small{
        line-height: 1.2em;
      }
    }
  }
  @media (max-width: $breakpoint-mobile){
    &,&-big{
      padding: 50px 20px;
      width: 100%;
    }
    .btn{
      margin-top: 25px;
    }
  }
}