<div class="run-string-bg">
    <div class="run-string run-string-left run-string-large">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
    </div>
    <div class="run-string run-string-right run-string-middle">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
    </div>
    <div class="run-string run-string-left run-string-large">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
    </div>
    <div class="run-string run-string-right run-string-middle">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
    </div>
    <div class="run-string run-string-left run-string-large">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
        <img src="static/img/slogan_white.svg" alt="Якщо вітаміни, то SWISS ENERGY">
    </div>
</div>