<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#F6CE57">
    <link href="static/css/app.css" rel="stylesheet">
    <title>SWISS ENERGY</title>
    <script>
        window.onload = function(){
            setTimeout(function(){
                document.querySelectorAll('.js-anim-elem').forEach(function(item) {
                    item.classList.add('active');
                });
            },100)
        }
    </script>
</head>
<body>